{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ title }}</h1>
{# TODO: add an image of the record #}
<div>
    <a type="button" href="{{ path('app_homepage', {
        year: year,
        month: month,
        monthChange: 'last'
    }) }}" class="btn btn-primary">Last month</a>
    Shown: <strong>{{ monthName }}.{{ year }}</strong>.
    <a type="button" href="{{ path('app_homepage', {
        year: year,
        month: month,
        monthChange: 'next'
      }) }}"class="btn btn-success">Next month</a>
    <a type="button" href="{{ path('app_homepage') }}" class="btn btn-secondary">Current month</a>
</div>
<div id="calendar_container">
  <table id="calendar">
    <thead>
      <tr>
        <th>Hour</td>
        {% for day in days %}
            <th>
              {{ day.day }}.{{ day.month }} - {{ day.week_day }}
            </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
        {% for hour in hours %}
            <tr>
                <td class="calendar-hour">
                  {{ hour }} - {{ hour + 1 }}
                </td>
                {% for day in days %}
                    <td>
                      {{ day.week_day }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}