{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ title }}</h1>
{# TODO: add an image of the record #}
<div>
    <a type="button" href="{{ path('app_homepage', {
        year: year,
        month: month,
        monthChange: 'last'
    }) }}" class="btn btn-primary">Last month</a>
    Shown: <strong>{{ monthName }}.{{ year }}</strong>.
    <a type="button" href="{{ path('app_homepage', {
        year: year,
        month: month,
        monthChange: 'next'
      }) }}"class="btn btn-success">Next month</a>
    <a type="button" href="{{ path('app_homepage') }}" class="btn btn-secondary">Current month</a>
</div>
<div id="calendar_container">
  <table id="calendar">
    <thead>
      <tr>
        <th>Hour</td>
        {% for day in days %}
            <th>
              {{ day|date('d') }}.{{ day|date('m') }} - {{ day|date('D') }}
            </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
        {% for hour in reservationHours %}
            <tr>
                <td class="calendar-hour">
                  {{ hour }} - {{ hour + 1 }}
                </td>
                {% for day in days %}
{#                    {{ day|date('d-m-Y') }}#}
                    {% set dateKey = day|date('Y-m-d') %}
                    {% set isReservation = false %}
                    {% if reservations[dateKey] is defined %}
                        {% for resHour in reservations[dateKey] %}
                            {% if resHour['hour'] is defined and (hour is same as(resHour['hour'])) %}
                                {% set isReservation = true %}
                                {% set break = true %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <td>
                        {% if isReservation %}
                            <i class="fas fa-stop-circle"></i>
                        {% endif %}
                        {% if not isReservation %}
                            <a class="fas fa-edit"
                               title="Reserve an hour at {{ dateKey }}-{{ "%02d"|format(hour) }}."
                               href="{{ path('app_reservation_add_one', {"year": day|date('Y'), "month": day|date('m'), "day": day|date('d'), "hour": hour}) }}">
                            </a>
                        {% endif %}
                        {% if isReservation %}
                            <div class="hours" {{ stimulus_controller('calendar-controls', {
                                infoUrl: path('api_reservation_get_one', { id: 3 })
                            }) }}>
                                <a href="#" {{ stimulus_action('calendar-controls', 'reserve') }}>
                                    <i class="fas fa-eye"></i>
                                </a>
                            </div>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}