{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ title }}</h1>
<div id="calendar_month_actions">
    <a type="button" href="{{ path('app_homepage', {
        year: year,
        month: month,
        monthChange: 'last'
    }) }}" class="btn btn-primary">{% trans %} home.last_month {% endtrans %}</a>
    {% trans %} home.shown {% endtrans %}: <strong>{{ monthName|trans }}.{{ year }}</strong>.
    <a type="button" href="{{ path('app_homepage', {
        year: year,
        month: month,
        monthChange: 'next'
      }) }}"class="btn btn-success">{% trans %} home.next_month {% endtrans %}</a>
    <a type="button" href="{{ path('app_homepage') }}" class="btn btn-secondary">{% trans %} home.current_month {% endtrans %}</a>
</div>

<div id="calendar_error" class="calendar-error">
    {% for error in app.flashes('errorMessage') %}
        <p><strong>{{ error }}</strong></p>
    {% endfor %}
</div>

<div id="calendar_container">
  <table id="calendar" data-controller="mouse-highlight">
    <thead>
      <tr>
        <th>{% trans %} home.hour {% endtrans %}</td>
        {% for day in days %}
            {% set todayClass = day|date('Y-m-d') is same as(now|date('Y-m-d')) ? 'today' : '' %}
            <th class="{{ todayClass }}">
              {{ day|date('d') }}.{{ day|date('m') }} - {{ day|date('D')|trans }}
            </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody data-controller="modal">
        {% for hour in reservationHours %}
            <tr>
                <td class="calendar-hour">
                  {{ hour }} - {{ hour + 1 }}
                </td>
                {% for day in days %}
{#                    {{ day|date('d-m-Y') }}#}
                    {% set dateKey = day|date('Y-m-d') %}
                    {% set hourTwoChars = "%02d"|format(hour) %}
                    {% set resTimeSuffix = dateKey ~ '-' ~ hourTwoChars %}
                    {% set resTimeStr = dateKey ~ ' ' ~ hourTwoChars ~ ':00:00' %}
                    {% set isReservation = false %}
                    {% set resHourIndex = null %}
                    {% if reservations[dateKey] is defined %}
                        {% for resKey, resHour in reservations[dateKey] %}
                            {% if resHour['hour'] is defined and (hour is same as(resHour['hour'])) %}
                                {% set resHourIndex = resKey %}
                                {% set isReservation = true %}
                                {% set break = true %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% set todayClass = dateKey is same as(now|date('Y-m-d')) ? 'today' : '' %}
                    <td class="{{ todayClass }}">
                        {% if now|date('Y-m-d H') < resTimeStr|date('Y-m-d H:i:s') and not isReservation %}
                            <a class="fas fa-edit reserve"
                               title="Reserve an hour at {{ dateKey }} {{ "%02d"|format(hour) }}:00:00."
                               href="{{ path('app_reservation_add_one', {"year": day|date('Y'), "month": day|date('m'), "day": day|date('d'), "hour": hour}) }}">
                            </a>
                        {% endif %}
                        {% if isReservation %}
                            <div class="reservation_info">
                                <a href="#" id="res_info_link_{{ resTimeSuffix }}">
                                    <i class="fas fa-eye read"></i>
                                </a>
                                {% set user = reservations[dateKey][resHourIndex] %}
                                <input type="hidden" id="user_name_{{ resTimeSuffix }}" value="{{ user['userAtName'] }}">
                                <input type="hidden" id="user_email_{{ resTimeSuffix }}" value="{{ user['userAtEmail'] }}">
                                <input type="hidden" id="user_phone_{{ resTimeSuffix }}" value="{{ user['userAtPhone'] }}">
                            </div>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
  </table>
  
  <div class="modals">
    <dialog class="dialog" id="modal-reservation">
      <div class="dialog__wrapper">
        <button class="dialog__close">✕</button>
        <p>{% trans %} home.reservation_at {% endtrans %} <strong><span id="modal_res_time"></span></strong> {% trans %} home.oclock {% endtrans %}.</p>
        <p>{% trans %} home.patient {% endtrans %}:</p>
        <ul>
          <li>{% trans %} home.name {% endtrans %}: <strong><span id="modal_user_name"></span></strong></li>
          <li>{% trans %} home.email {% endtrans %}: <strong><span id="modal_user_email"></span></strong></li>
          <li>{% trans %} home.phone {% endtrans %}: <strong><span id="modal_user_phone"></span></strong></li>
        </ul>
      </div>
    </dialog>
  </div>
</div>
        
<div>
  <h3>{% trans %} home.legend {% endtrans %}</h3>
  <ul>
    <li><i class="fas fa-edit reserve"></i> - {% trans %} home.reserve_an_hour {% endtrans %}.</li>
    <li><i class="fas fa-eye read"></i> - {% trans %} home.res_review {% endtrans %}.</li>
  </ul>
</div>
{% endblock %}