{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<h1>{{ title }} ✅</h1>

<div class="success">
    <h4>{% trans %}reservation.begins_at{% endtrans %}: {{ date|date('Y-m-d H:i:s') }}.</h4>
    <p>Your input data:</p>
    <p>Name: <strong>{{ user.name }}</strong>.</p>
    <p>Email: <strong>{{ user.email }}</strong>.</p>
    <p>Phone number: <strong>{{ user.phone }}</strong>.</p>
</div>

<p><a type="button" href="{{ asset('') }}" class="btn btn-primary success">Go back to Calendar</a></p>

{% endblock %}
